**Introducción ETL**

Proceso ETL transformaciones requeridas sobre campos, valores, tipos para ajustar los mismos a las reglas de negocio

Importamos libreria para trabajar archivos csv provistos

In [1]:
import pandas as pd

**Comienzo del proceso de ETL.**

Obtendremos los DataFrames de los datasets correspondientes a Amazon Prime, Disney Plus, Hulu y Netflix.

In [2]:
df_amazon = pd.read_csv(r'../datasets/amazon_prime_titles.csv') # DataFrame  Amazon Prime
df_disney = pd.read_csv(r'../datasets/disney_plus_titles.csv') # DataFrame Disney Plus
df_hulu = pd.read_csv(r'../datasets/hulu_titles.csv') # DataFrame Hulu
df_netflix = pd.read_csv(r'../datasets/netflix_titles.csv') # DataFrame Netflix

Verificamos que se hallan cargado correctamente los datos en los DataFrames, y haremos una breve exploración de los datos con las funciones: .head() e .info().

In [3]:
# DataFrame de Amazon Prime:
df_amazon.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...

In [4]:
# DataFrame de Disney Plus:
df_disney.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.

In [5]:
# DataFrame de Hulu:
df_hulu.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...

In [6]:
# DataFrame de Netflix:
df_netflix.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...

Como primer paso agregamos el campo ID de cada DataFrame generado, tomando como base el campo existente show_id

In [7]:
#agregamos al nuevo campo una letra inicial
df_amazon['id'] = 'a' + df_amazon['show_id']
df_disney['id'] = 'd' + df_disney['show_id']
df_hulu['id'] = 'h' + df_hulu['show_id']
df_netflix['id'] = 'n' + df_netflix['show_id']

Verificacion cambio de ejemplo

In [8]:
df_amazon.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,as1
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,as2
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,as3

Reemplazamos los valores nulos del campo rating por la letra G

In [9]:
# impactamos cambio en los df con parametro inplace=True
df_amazon['rating'].fillna(value ='G', inplace = True)
df_disney['rating'].fillna(value = 'G', inplace = True)
df_hulu['rating'].fillna(value = 'G', inplace = True)
df_netflix['rating'].fillna(value = 'G', inplace = True)

Verificamos que no existan nulos

In [10]:
df_amazon['rating'].isnull().sum(), df_disney['rating'].isnull().sum(), df_hulu['rating'].isnull().sum(), df_netflix['rating'].isnull().sum()

(0, 0, 0, 0)

Modificamos el tipo de dato de la columna date_added de object a datetime

In [11]:
df_amazon['date_added'] = pd.to_datetime(df_amazon['date_added'])
df_disney['date_added'] = pd.to_datetime(df_disney['date_added'])
df_hulu['date_added'] = pd.to_datetime(df_hulu['date_added'])
df_netflix['date_added'] = pd.to_datetime(df_netflix['date_added'])

Verificamos cambio en el tipo de dato del campo

In [12]:
df_amazon['date_added'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 9668 entries, 0 to 9667
Series name: date_added
Non-Null Count  Dtype
--------------  -----
155 non-null    datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 75.7 KB

Con la funcion applymap(), la funcion anonima lambda y el metodo lower() modificamos a minusculas todos los campos string de cada df

In [13]:
df_amazon = df_amazon.applymap(lambda s: s.lower() if type(s) == str else s)
df_disney = df_disney.applymap(lambda s: s.lower() if type(s) == str else s)
df_hulu = df_hulu.applymap(lambda s: s.lower() if type(s) == str else s)
df_netflix = df_netflix.applymap(lambda s: s.lower() if type(s) == str else s)

Verificamos los cambios

In [14]:
df_amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,as1
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,as2
2,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,as3
3,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ...",as4
4,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...,as5

Creamos 2 nuevos campos a partir del campo duration, mediante los metodos string de python, split y get, se modifican el campo duration int a tipo entero

In [15]:
df_amazon["duration_int"] = df_amazon["duration"].str.split(" ").str.get(0)
df_amazon["duration_type"] = df_amazon["duration"].str.split(" ").str.get(1)
#
df_disney["duration_int"] = df_disney["duration"].str.split(" ").str.get(0)
df_disney["duration_type"] = df_disney["duration"].str.split(" ").str.get(1)
#
df_hulu["duration_int"] = df_hulu["duration"].str.split(" ").str.get(0)
df_hulu["duration_type"] = df_hulu["duration"].str.split(" ").str.get(1)
#
df_netflix["duration_int"] = df_netflix["duration"].str.split(" ").str.get(0)
df_netflix["duration_type"] = df_netflix["duration"].str.split(" ").str.get(1)

In [16]:
df_amazon['duration_int'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 9668 entries, 0 to 9667
Series name: duration_int
Non-Null Count  Dtype
--------------  -----
9668 non-null   object
dtypes: object(1)
memory usage: 75.7+ KB

Modoficamos  campo duration_int el tipo a 'int64', entero de los df

In [17]:
df_amazon['duration_int'].fillna(value = 0, inplace = True)
df_amazon['duration_int'] = df_amazon['duration_int'].astype('int64')
#
df_disney['duration_int'].fillna(value = 0, inplace = True)
df_disney['duration_int'] = df_disney['duration_int'].astype('int64')
#
df_hulu['duration_int'].fillna(value = 0, inplace = True)
df_hulu['duration_int'] = df_hulu['duration_int'].astype('int64')
#
df_netflix['duration_int'].fillna(value = 0, inplace = True)
df_netflix['duration_int'] = df_netflix['duration_int'].astype('int64')

Verificamos que se hayan corregido estos errores. Utilizamos a modo de ejemplo el caso de la plataforma 'Hulu'.

In [18]:
df_amazon['duration_int'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 9668 entries, 0 to 9667
Series name: duration_int
Non-Null Count  Dtype
--------------  -----
9668 non-null   int64
dtypes: int64(1)
memory usage: 75.7 KB

Para poder manipular todos los DataFrames de cada plataforma de una manera más ágil, se procederá a unirlos en un sólo DataFrame, utilizando la función concat().

In [19]:
# Cabe mencionar que indicamos como 'axis = 0', para que los DataFrames se unan por filas y no por columnas.
plataformas_df = pd.concat([df_amazon, df_disney, df_hulu, df_netflix], axis = 0)
plataformas_df.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id,duration_int,duration_type
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,as1,113,min
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,as2,110,min
2,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,as3,74,min

In [20]:
plataformas_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show_id        22998 non-null  object
 1   type           22998 non-null  object
 2   title          22998 non-null  object
 3   director       14739 non-null  object
 4   cast           17677 non-null  object
 5   country        11499 non-null  object
 6   date_added     13444 non-null  datetime64[ns]
 7   release_year   22998 non-null  int64
 8   rating         22998 non-null  object
 9   duration       22516 non-null  object
 10  listed_in      22998 non-null  object
 11  description    22994 non-null  object
 12  id             22998 non-null  object
 13  duration_int   22998 non-null  int64
 14  duration_type  22516 non-null  object
dtypes: datetime64[ns](1), int64(2), object(12)
memory usage: 2.8+ MB

Se eliminan las columnas 'show_id' y 'duration' ya que anteriormente se habían realizado las correcciones correspondientes.

In [21]:
plataformas_df = plataformas_df.drop(['show_id', 'duration'], axis=1 )

In [22]:
plataformas_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   type           22998 non-null  object
 1   title          22998 non-null  object
 2   director       14739 non-null  object
 3   cast           17677 non-null  object
 4   country        11499 non-null  object
 5   date_added     13444 non-null  datetime64[ns]
 6   release_year   22998 non-null  int64
 7   rating         22998 non-null  object
 8   listed_in      22998 non-null  object
 9   description    22994 non-null  object
 10  id             22998 non-null  object
 11  duration_int   22998 non-null  int64
 12  duration_type  22516 non-null  object
dtypes: datetime64[ns](1), int64(2), object(10)
memory usage: 2.5+ MB

Reordenamos columnas del dataframe con id inicial

In [23]:
plataformas_df = plataformas_df.reindex(columns= ['id','type','title','director','cast','country','date_added','release_year','rating','duration_int','duration_type','listed_in','description'])

Verificamos orden de los campos

In [24]:
plataformas_df.head(3)

,id,type,title,director,cast,country,date_added,release_year,rating,duration_int,duration_type,listed_in,description
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113,min,"comedy, drama",a small fishing village must procure a local d...
1,as2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110,min,"drama, international",a metro family decides to fight a cyber crimin...
2,as3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74,min,"action, drama, suspense",after a man discovers his wife is cheating on ...

**Datos de reseñas de usuarios de las plataformas**

Se cuenta con datasets de reseñas de usuarios de los servicios de streaming, se trabaja ETL para unificar con dataset streaming

In [25]:
r1 = pd.read_csv(r'../datasets/ratings/1.csv')
r2 = pd.read_csv(r'../datasets/ratings/2.csv')
r3 = pd.read_csv(r'../datasets/ratings/3.csv')
r4 = pd.read_csv(r'../datasets/ratings/4.csv')
r5 = pd.read_csv(r'../datasets/ratings/5.csv')
r6 = pd.read_csv(r'../datasets/ratings/6.csv')
r7 = pd.read_csv(r'../datasets/ratings/7.csv')
r8 = pd.read_csv(r'../datasets/ratings/8.csv')

Verificamos ingesta datasets

In [27]:
r1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500000 entries, 0 to 1499999
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   userId     1500000 non-null  int64
 1   rating     1500000 non-null  float64
 2   timestamp  1500000 non-null  int64
 3   movieId    1500000 non-null  object
dtypes: float64(1), int64(2), object(1)
memory usage: 45.8+ MB

In [28]:
r2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500000 entries, 0 to 1499999
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   userId     1500000 non-null  int64
 1   rating     1500000 non-null  float64
 2   timestamp  1500000 non-null  int64
 3   movieId    1500000 non-null  object
dtypes: float64(1), int64(2), object(1)
memory usage: 45.8+ MB

In [29]:
r3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500000 entries, 0 to 1499999
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   userId     1500000 non-null  int64
 1   rating     1500000 non-null  float64
 2   timestamp  1500000 non-null  int64
 3   movieId    1500000 non-null  object
dtypes: float64(1), int64(2), object(1)
memory usage: 45.8+ MB

In [30]:
r4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500000 entries, 0 to 1499999
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   userId     1500000 non-null  int64
 1   rating     1500000 non-null  float64
 2   timestamp  1500000 non-null  int64
 3   movieId    1500000 non-null  object
dtypes: float64(1), int64(2), object(1)
memory usage: 45.8+ MB

In [31]:
r5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500000 entries, 0 to 1499999
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   userId     1500000 non-null  int64
 1   rating     1500000 non-null  float64
 2   timestamp  1500000 non-null  int64
 3   movieId    1500000 non-null  object
dtypes: float64(1), int64(2), object(1)
memory usage: 45.8+ MB

In [32]:
r6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500000 entries, 0 to 1499999
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   userId     1500000 non-null  int64
 1   rating     1500000 non-null  float64
 2   timestamp  1500000 non-null  int64
 3   movieId    1500000 non-null  object
dtypes: float64(1), int64(2), object(1)
memory usage: 45.8+ MB

In [33]:
r7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 524289 entries, 0 to 524288
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     524289 non-null  int64
 1   rating     524289 non-null  float64
 2   timestamp  524289 non-null  int64
 3   movieId    524289 non-null  object
dtypes: float64(1), int64(2), object(1)
memory usage: 16.0+ MB

In [34]:
r8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500000 entries, 0 to 1499999
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   userId     1500000 non-null  int64
 1   rating     1500000 non-null  float64
 2   timestamp  1500000 non-null  int64
 3   movieId    1500000 non-null  object
dtypes: float64(1), int64(2), object(1)
memory usage: 45.8+ MB

Se unifican los datasets de rating en uno solo

In [37]:
puntajes = pd.concat([r1, r2, r3, r4, r5, r6, r7, r8], axis = 0)

Se modifica el campo rating ya que esta presente en el dataset streaming

In [68]:
puntajes.rename(columns = {'rating': 'score', 'movieId':'id'}, inplace = True)

verficamos unificacion datasets

In [69]:
puntajes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11024289 entries, 0 to 1499999
Data columns (total 5 columns):
 #   Column      Dtype
---  ------      -----
 0   userId      int64
 1   score       float64
 2   timestamp   int64
 3   id          object
 4   mean_score  float64
dtypes: float64(2), int64(2), object(1)
memory usage: 504.7+ MB

Creamos una nueva columna con el promedio, map () Se utiliza para sustituir cada valor de una Serie por otro valor

In [70]:
promedio_score = puntajes.groupby('id')['score'].mean()
puntajes['mean_score'] = puntajes['id'].map(promedio_score)

Se prueba si se agregó la columna correctamente.

In [71]:
puntajes.head()

   userId  score   timestamp      id  mean_score
0       1    1.0  1425941529   as680    3.549127
1       1    4.5  1425942435  ns2186    3.556886
2       1    5.0  1425941523  hs2381    3.604124
3       1    5.0  1425941546  ns3663    3.547085
4       1    5.0  1425941556  as9500    3.532158

In [72]:
puntajes.head()

   userId  score   timestamp      id  mean_score
0       1    1.0  1425941529   as680    3.549127
1       1    4.5  1425942435  ns2186    3.556886
2       1    5.0  1425941523  hs2381    3.604124
3       1    5.0  1425941546  ns3663    3.547085
4       1    5.0  1425941556  as9500    3.532158

Unificamos datasets streaming, ratings

In [73]:
plataformas = pd.merge(plataformas_df,puntajes, on= 'id')

Se verifica que se haya realizado el merge(), pero se puede observar que hay millones de valores duplicados. Estos valores hacen referencia a que hay varias filas que pertenecen al mismo id donde se repite también el promedio de los scores de los usuarios.

In [74]:
plataformas.head(3)

,id,type,title,director,cast,country,date_added,release_year,rating,duration_int,duration_type,listed_in,description,userId,score,timestamp,mean_score
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113,min,"comedy, drama",a small fishing village must procure a local d...,543,5.0,1059596582,3.467131
1,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113,min,"comedy, drama",a small fishing village must procure a local d...,595,3.0,839937603,3.467131
2,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113,min,"comedy, drama",a small fishing village must procure a local d...,611,3.0,978549108,3.467131

se verifican duplicados

In [75]:
plataformas.value_counts(plataformas.duplicated())

False    11024165
True          124
dtype: int64

Se eliminan duplicados mateninendo la primer aparicion

In [80]:
plataformas = plataformas.drop_duplicates(subset='id', keep='first')

Se valida que se hayan eliminado.

In [81]:
plataformas.value_counts(plataformas.duplicated())

False    22998
dtype: int64

Se normaliza los valores de la columna duration_type

In [77]:
#plataformas['duration_type'] = plataformas['duration_type'].replace('season','seasons')
plataformas["duration_type"] = plataformas["duration_type"].replace(["Seasons", "seasons"], "seasons")
#plataformas = plataformas.reset_index(drop = True)

Se verifica que se hayan realizado dichas modificaciones.

In [84]:
plataformas.head(3)

,id,type,title,director,cast,country,date_added,release_year,rating,duration_int,duration_type,listed_in,description,userId,score,timestamp,mean_score
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113,min,"comedy, drama",a small fishing village must procure a local d...,543,5.0,1059596582,3.467131
502,as2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110,min,"drama, international",a metro family decides to fight a cyber crimin...,321,3.0,1181451581,3.548682
995,as3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74,min,"action, drama, suspense",after a man discovers his wife is cheating on ...,582,5.0,1316843370,3.500000

In [82]:
plataformas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 11023810
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             22998 non-null  object
 1   type           22998 non-null  object
 2   title          22998 non-null  object
 3   director       14739 non-null  object
 4   cast           17677 non-null  object
 5   country        11499 non-null  object
 6   date_added     13444 non-null  datetime64[ns]
 7   release_year   22998 non-null  int64
 8   rating         22998 non-null  object
 9   duration_int   22998 non-null  int64
 10  duration_type  22516 non-null  object
 11  listed_in      22998 non-null  object
 12  description    22994 non-null  object
 13  userId         22998 non-null  int64
 14  score          22998 non-null  float64
 15  timestamp      22998 non-null  int64
 16  mean_score     22998 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(4), object(10)
memory usage: 3.2+ MB

Se exporta a csv el dataset unficado con las transformaciones realizadas

In [83]:
#parametro index = False para que no se exporte el índice del DataFrame
plataformas.to_csv(r'../datasets/streaming.csv', index = False)